target/
**/target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Node / Angular
node_modules/
**/node_modules/
dist/
**/dist/
.angular/
**/.angular/

# Uploads
uploads/
**/uploads/

### IDE ###
.idea/
.vscode/
*.iws
*.iml
*.ipr

# Local environment variables
.env
.agents
